@theme "themes/tokyonight.rasi"

configuration {
	combi-modes: "window,drun,filebrowser";

	kb-clear-line: "Control+a";
	kb-move-front: "";

	filebrowser {
		directories-first: true;
		sorting-method: "name";
	}

	timeout {
		action: "kb-cancel";
		delay: 0;
	}
}
