@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

configuration {
  combi-modes: "window,drun,filebrowser";

  timeout {
	  action: "kb-cancel";
	  delay:  0;
  }
  filebrowser {
	  directories-first: true;
	  sorting-method:    "name";
  }
}
