" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=5

set ignorecase
set smartcase

set timeout
set timeoutlen=300
set ttimeout
set ttimeoutlen=50

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

set number
set relativenumber

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

map \b <Action>(ToggleLineBreakpoint)

" nmap oo o<Esc>k
" nmap OO O<Esc>j

set guicursor+=a:blinkon0
set clipboard^=unnamedplus,unnamed

"keep visual mode after indent
vnoremap > >gv
vnoremap < <gv
